.sowhis{
    margin-left: 90%;
  }

  .hispopup {
    display: block;
    margin-left: -30%;
}

  .sowhis button {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 130px;
    margin-left: -50px;
  }

  .popup-content {
    height: auto;
    width: 106%;
    border: 10px solid rgb(221, 211, 211);
}

.popup-content h2{
  text-align: center;
  margin-left: 50px;
}
.popup-content button{
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  margin: 3px;
}

table {
  border-collapse: collapse;
  width: 95%;
  margin:20px;
}

th, td {
  border: 1px solid #dddddd;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}
/* Set background color for odd rows */
tr:nth-child(odd) {
  background-color: #d1d1d1;
}
/* Set background color for even rows */
tr:nth-child(even) {
  background-color: #f5f5f5;
}

th {
  background-color: #f2f2f2;
}